<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu tarjeta de visita</title>
    <link href="/card-styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/80c9b8179a.js"
      crossorigin="anonymous"
    ></script>
    <script defer="defer" src="./static/js/main.eb0065fb.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="card-body">
    <div class="card-preview">
      <div class="card-preview-header-palette<%= palette %>">
        <h3 class="card-preview-title card-preview-title-palette<%= palette %>">
          <%= name %>
        </h3>
        <p class="card-preview-subtitle"><%= job %></p>
      </div>

      <img class="card-preview-photo" src="<%= photo %>" width="50" />

      <nav class="card-preview__nav">
        <ul class="card-socialmedia">
          <li
            class="card-socialmedia-item card-socialmedia-item-palette<%= palette %>"
          >
            <a
              href="tel:<%= phone %>"
              alt="mobile"
              target="_blank"
              class="socialmedia-icon socialmedia-icon-palette<%= palette %>"
            >
              <i class="fas fa-mobile-alt"></i>
            </a>
          </li>

          <li
            class="card-socialmedia-item card-socialmedia-item-palette<%= palette %>"
          >
            <a
              href="mailto:<%= email %>"
              alt="email"
              target="_blank"
              class="socialmedia-icon socialmedia-icon-palette<%= palette %>"
            >
              <i class="far fa-envelope"></i>
            </a>
          </li>

          <li
            class="card-socialmedia-item card-socialmedia-item-palette<%= palette %>"
          >
            <a
              href="http://www.linkedin.com/in/<%= linkedin %>"
              alt="linkedin"
              target="_blank"
              class="socialmedia-icon socialmedia-icon-palette<%= palette %>"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>

          <li
            class="card-socialmedia-item card-socialmedia-item-palette<%= palette %>"
          >
            <a
              href="http://www.github.com/<%= github %>"
              alt="github"
              target="_blank"
              class="socialmedia-icon socialmedia-icon-palette<%= palette %>"
            >
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
